/* HEADER */
.header__img {
    height: 64px;
    width: 64px;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

body {
    background-color: rgb(171, 172, 188);
    margin: 0; 
    padding: 0;
}

header, footer {
    padding: 20px;
    background-color: rgb(171, 172, 188);
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.content {
    flex: 1;
    max-width: 100%; 
    margin: 0 auto;
    padding: 40px 20px;
}

footer {
    margin-top: auto;
}