/* Сброс стилей */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #afb0e4;
    padding: 0;
    margin: 0;
}

/* Общие стили */
.header__img {
    height: 64px;
    width: 64px;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 20px;
}

/* Контейнер страницы */
.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Основное содержимое */
.content {
    flex: 1;
    width: 100%;
    max-width: 1200px;   /* Ограничение максимальной ширины для больших экранов */
    margin: 0 auto;
    padding: 40px 20px;
}

/* Подвал */
footer {
    text-align: center;
    margin-top: auto; /* Фиксирует footer внизу */
}
