{% extends "base.html" %}

{%block title%}
Страница о шедеврокомпании
{% endblock %}

{%block body%}
<h1>строим светлое будующее вместе</h1>

<h3>О нас</h3>
<h4>
<p>Мы — команда психологов, дизайнеров и разработчиков, объединивших усилия для создания уникального инструмента, который помогает лучше понять себя и других через творчество. Наше приложение использует методы психологического анализа, которые традиционно применяются в проектive-тестах, таких как рисование фигур, чтобы предоставить вам подробную информацию о личных качествах, мыслях и эмоциях, скрытых за вашими творческими решениями.</p>

<p>Просто начните дорисовывать предложенные фигуры, и наше приложение, опираясь на психологию восприятия и анализа, предложит вам результаты, основанные на ваших визуальных предпочтениях и способах интерпретации пространства, форм и символов. Каждый элемент рисунка может раскрыть новые аспекты вашего внутреннего мира, а наше приложение поможет вам понять, как ваши творческие решения соотносятся с вашей личностью, отношениями и повседневной жизнью.</p>

<p>Мы стремимся сделать психологию доступной и понятной, предлагая не только результаты, но и возможность развивать самосознание через творчество. Наша цель — дать вам ценные инсайты, которые помогут не только лучше понять себя, но и наладить гармоничные отношения с окружающими. Вдохновляйтесь, исследуйте и открывайте для себя новые стороны своего характера с нашим приложением!</p>
</h4>
{%endblock%}