{% extends "base.html" %}

{%block title%}
Страница рисования
{% endblock %}

{%block body%}

<style>
    #drawingCanvas {
        max-width: 100%;      /* Ограничивает ширину холста размерами экрана */
        height: auto;         /* Автоматически подстраивает высоту, сохраняя пропорции */
        display: block;       /* Убирает возможные отступы */
        margin: 0 auto;       /* Центрирует холст */
    }
</style>
    <h1>Сделай из фигуры рисунок!</h1>
    
    <div class="controls">
        <button onclick="generateShape()">Новая фигура</button>
        <button onclick="submitDrawing()">Готово</button>
    </div>
    
    <canvas id="drawingCanvas" width="500" height="500"></canvas>

    <div class="info">
        <p>Оценка оригинальности:</p>
        <p class="score" id='customScore'>0.00%</p>
    </div>

    <script src="/static/js/draw.js"></script>
{%endblock%}