{% extends "base.html" %}

{%block title%}
Страница генерации
{% endblock %}

{%block body%}


    <h1>Дорисуй форму!</h1>
    
    <div class="controls">
        <button onclick="generateShape()">Новая форма</button>
        <button onclick="submitDrawing()">Готово</button>
    </div>
    
    <canvas id="drawingCanvas" width="500" height="500"></canvas>

    <div class="info">
        <p>Оценка оригинальности:</p>
        <p class="score" id='customScore'>0.00%</p>
    </div>

    <script src="/static/js/draw.js"></script>
{%endblock%}